<ion-header
  class="ion-no-border"
>
  <ion-toolbar
    [style.--background]="backgroundColor ? (backgroundColor + '!important') : null"
    [style.--color]="textColor ? (textColor + '!important') : null"
  >
    <ion-buttons class="ion-no-padding ion-no-margin" slot="start">
      <ion-button shape="round" (click)="goBack()" *ngIf="back">
        <i class="fas fa-arrow-left"></i>
      </ion-button>
      <ion-menu-button *ngIf="menu"></ion-menu-button>
    </ion-buttons>

    <ion-title (click)="titleClicked.emit()" class="ion-no-margin ion-no-padding">
      <div class="title-content">
        <app-avatar *ngIf="avatar" [profile]="profile" [size]="32" class="header-avatar"></app-avatar>
        <span>{{ title }}</span>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ng-content select="#end-buttons"></ng-content>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="px-2">
  <ion-searchbar
    color="light"
    *ngIf="search"
    (ionChange)="doSearch($event)"
  >
  </ion-searchbar>

</div>
