<div class="slide-container animate__animated animate__fadeIn">
  <div class="image-wrapper">
    <app-avatar (click)="!random && !isAdmin() ? showProfile() : null" [profile]="user" [size]="400" shape="rounded" class="user-image" [style.cursor]="isAdmin() ? 'default' : 'pointer'"></app-avatar>
    
    <div class="glass-overlay p-3" (click)="!random && !isAdmin() ? showProfile() : null" [style.cursor]="isAdmin() ? 'default' : 'pointer'">
      <div class="user-info">
        <h2 class="user-name">
          {{ isAdmin() ? 'System' : user.fullName }}<span class="age" *ngIf="!isAdmin() && user.getAge(false)">, {{ user.getAge(false) }}</span>
          <span class="online-status" *ngIf="user.online && !isAdmin()"></span>
        </h2>
        <p class="user-location">
          <i class="fas fa-map-marker-alt" *ngIf="!isAdmin()"></i>
          <span *ngIf="!isAdmin() && user.genderVisible && user.gender !== 'prefer not to say'">{{ user.gender }}, </span>{{ isAdmin() ? 'Official Account' : user.city }}
        </p>
      </div>
    </div>
  </div>

  <div class="actions-container">
    <div class="action-buttons">
      <button *ngIf="random && !isAdmin()" class="glass-btn video" (click)="videoCall()">
        <i class="fas fa-video"></i>
      </button>

      <button *ngIf="!last" class="glass-btn skip" (click)="onSkip.emit()">
        <i class="fas fa-times"></i>
      </button>

      <button *ngIf="last" class="glass-btn refresh" (click)="onRefresh.emit()">
        <i class="fas fa-sync-alt"></i>
      </button>

      <button *ngIf="random" class="glass-btn chat" (click)="navigateTo('/messages/chat/' + user.id)">
        <i class="fas fa-comments"></i>
      </button>
    </div>
  </div>
</div>
