.selected-item {
  --background: var(--ion-color-light);
  font-weight: bold;
}

ion-toolbar {
  --background: var(--folcen-toolbar-background);
  --color: var(--folcen-toolbar-color);
}

ion-title {
  font-weight: 700;
  font-size: 1.1rem;
}
