<ion-app>
  <!-- Custom Splash Screen -->
  <div *ngIf="showSplash" class="splash-screen">
    <div class="splash-content">
      <div class="logo-container">
        <!-- Logo Image (Infinity) -->
        <img src="assets/images/logo.png" class="infinity-logo" alt="Infinity Logo">
        <div class="logo-text">Folcen</div>
      </div>

      <!-- Progress Bar -->
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
    </div>
  </div>

  <!-- Main App Content -->
  <ion-router-outlet *ngIf="!showSplash"></ion-router-outlet>
</ion-app>
