<ion-app>
  <ion-content class="background">
    <ion-row class="h-100">
      <ion-col size="12" class="d-flex flex-column align-items-center justify-content-center">
        <!-- Replacing the image with the SVG logo -->
        <div class="logo-container">
          <img src="assets/images/logo.png" class="infinity-logo" alt="Folcen Logo">
        </div>

        <!-- Description under logo -->
        <div class="text-center">
          <span class="logo-text">Folcen</span>
        </div>
      </ion-col>

      <ion-col class="text-white footer mt-auto p-3" size="12">
        <!-- Footer content (optional) -->
      </ion-col>
    </ion-row>
  </ion-content>

  <!-- Footer Buttons -->
  <ion-footer class="px-3">
    <h4 class="mb-0">Welcome to Folcen!</h4>
    <span>Discover a world of connections with version 1.0.0 🚀</span>
    <ion-button routerLink="/auth/signin" expand="block" color="primary" class="my-3">
      Sign In
    </ion-button>
    <ion-button routerLink="/auth/signup" expand="block" color="light" class="my-3 signup-btn">
      Create Account
    </ion-button>
  </ion-footer>
</ion-app>
