.card{
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}
.logo{
  width: 150px;
}
.dashboard-icon{
  font-size: 58px;
}
.dashboard-title{
  font-size: 50px;
  margin-top: -12px;
}
.break-the-ice{
  font-size: 28px;
  margin-top: -10px;
}
